@import './param.scss';
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    // font-family: 'Roboto',sans-serif;
}
body{
    min-height: 100vh;
}
.fc-icon {
    font: normal normal normal 14px/1 FontAwesome !important;
    // display: none !important;
 }