@media screen and (max-width : 1000px) {
    .menu{
        .links,.inscription{
            display: none !important;
        }
        .burger{
            display: block !important;
        }
    }
}
@media screen and (max-width : 900px){
    .section{
        grid-template-columns: 1fr !important;
        &.reverse .section-content-text{
            grid-column: 1 !important;
            grid-row: 2 !important;
        }
    }
}
@media screen and (max-width : 830px){
    .sectionAvantages{
        grid-template-columns: 1fr !important;
        .sa-image{
            display: none !important;
        }
        .sa-item{
            grid-template-columns: 1fr !important;
            padding-top: 20px !important;
            .sa-item-icon{
                position: absolute;
                .sa-item-icon-content{
                    padding: 0 !important;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translate(-25%,-25%);
                    .sa-icon{
                        font-size: 13px !important;
                    }
                }
            }
        }
    }
    .footer{
        .info{
            grid-column: 1/ span 3;
            display: grid;
            grid-template-columns: 2fr 1fr;
            align-items: center;
            gap: 10px;
        }
    }
    .fc-toolbar{
        display: grid !important;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
        .fc-toolbar-chunk:nth-child(2){
            grid-column: 1 / span 2 !important;
            grid-row-start: 2;
            justify-self: center;
        }
        .fc-toolbar-chunk:nth-child(3){
            justify-self: flex-end;
        }
    }
}

@media screen and (max-width : 430px){
    .header-textes{
        h1{
            font-size: 30px !important;
        }
    }
    .footer {
        & > div{
            grid-column: 1 / span 3;
        }
        .f-resaux{
            grid-column: 1 / span 2;
        }
    }
}