@import "../global/param.scss";
@import "../global/mixin.scss";
.menu{
    position: fixed;
    left: 0; 
    top: 0;
    width: 100%;
    height: $navHeight;
    background: $mainColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $paddingPage;
    z-index: 1000;
    .links{
        display: flex;
        // display: none;
        gap: 20px;
        li{
            list-style-type: none;
            a{
                display: inline-block;
                padding: 10px 0;
                text-decoration: none;
                position: relative;
                color: #fff;
                font-size: 15px;
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    border-radius: 4px;
                    transform: scaleX(0);
                    background-color: #fff;
                    transition: 0.5s;
                }
                &.active::after{
                    transform: scaleX(1);
                }
                &:hover::after{
                    // background-color: orange;
                    transform: scaleX(1);
                }
            }

        }
    }
    .burger{
        display: none;
        position: relative;
        width: 30px;
        height: 20px;
        @include resetBtn;
        transition: .5s;
        &.active{
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: solid 2px #fff;
            transform: rotate(360deg);
            .b-m{
                opacity: 0;
            }
            .b-h,.b-b{
                left: 50%;
                top: 50%;
                width: 20px;
                height: 2px;
            }
            .b-h{
                transform: translate(-50%,-50%) rotate(45deg);
            }
            .b-b{
                transform: translate(-50%,-50%) rotate(-45deg);
            }
        }
        // background: #fff;
        & > div{
            position: absolute;
            width: 100%;
            height: 4px;
            background: #fff;
            // opacity: .1;
            border-radius: 2px;
            &.b-h{
                top: 0;
                left: 0;
            }
            &.b-m{
                top: 50%;
                transform: translateY(-50%);
            }
            &.b-b{
                bottom: 0;
                left: 0;
            }
        }
    }
}
.navBar{
    position: fixed;
    top: $navHeight;
    transform: translateX(100%);
    z-index: 500;
    padding: 10px;
    right: 0;
    background: #fff;
    box-shadow: 5px 0 10px #858484;
    width: 250px;
    height: 100vh;
    transition: .7s;
    &.active{
        transform: translateX(0);
    }
    .navBar-header{
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            @include btn;
        }
    }
    .links{
        li{
            margin-bottom: 5px;
            list-style-type: none;
            a{
                display: block;
                text-decoration: none;
                color: #aaa;
                margin: 3px 0;
                padding: 5px 0;
                &.active{
                    color: #555;
                    border-bottom: solid 2px $mainColor;
                }
            }
        }
    }
}
.menu-shadow{
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.192);
    z-index: 10;
    &.active{
        display: block;
    }
}