@import "../global/mixin.scss";
@import "../global/param.scss";

.devenir-ambassadeur{
    position: relative;
    padding: 80px $paddingPage;
    background-color: #f5f5f5;
    .da-sec-titre{
        @include h2($align : center);
        margin-bottom: 70px;
    }
    .da-sec-steps{
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: center;
        gap: 30px;
    }
    .am-card{
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .am-card-icon{
            position: relative;
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: solid 5px #888;
            border-radius: 50%;
            .am-icon-icon{
                font-size: 30px;
                color: $mainColor;
            }
            .am-step-item{
                position: absolute;
                right: 0;
                top: 0;
                color: #fff;
                background: $mainColor;
                padding: 5px 8px;
                font-size: 13px;
                border-radius: 99px;
            }
        }
        .am-step-desc{
            & > * {
                text-align: center;
            }
        }
        .am-step-item-desc{
            font-weight: bold;
        }
    }
}