@import "../global/param.scss";
@import "../global/mixin.scss";


.footer{
    display: grid;
    grid-template-columns: 2fr repeat(3,1fr);
    gap: 20px;
    padding: 60px $paddingPage;
    background-color: #272242;
    p,a{
        color: #fff;
    }
    ul{
        margin-top: 20px;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: 13px;
            }
        }
    }
    .info{
        p{
            max-width: 400px;
        }
    }
    .f-resaux{
        display: flex;
        gap: 5px;
        div{
            width: 30px;
            height: 30px;
            border-radius: 999px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: rgb(54, 54, 54);
            margin-top: 10px;
        }
    }
}