@import '../global/param.scss';
@import '../global/mixin.scss';
@import "../global/functions.scss";

header{
    position: relative;
    width: 100%;
    height: calc(100vh - $navHeight);
    margin-bottom: 20px;
    & > div{
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
    .content-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 20px 0;
        background-color: rgba(0, 0, 0, 0.699);
        .header-textes{
           display: flex;
           flex-direction: column;
           align-items: center;
           h1{
            color: #fff;
            font-size: sizeResponsive(90);
            text-align: center;
            font-weight: 500;
            margin: 10px 0;
           }
           p{
            color: #ddd;
            font-size: 17px;
            width: 70vw;
            text-align: center;
           }
           button{
            @include btn($width : 200px,$radius : 5px);
           }
        }
    }
    .header-btn{
        display: flex;
        gap: 10px;
        button{
            @include carre($size : 10px);
            @include resetBtn;
            border-radius: 99px;
            opacity: .5;
            // border: solid 3px #fff;
            background: #fff;
            transition: .5s;
            &.active{
                background: $mainColor;
                opacity: 1;
            }
        }
    }
    .header-images{
        overflow: hidden;
        & > div{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}
@for $i from 1 through 2 {
    .header-img-#{$i}{
        background-image: url(../../../public/assets/images/header#{$i}.jpg);
        background-size: cover;
        background-position: center;
        opacity: 0;
        // transform: translateY(-50px);
        animation: anime-image 30s linear infinite;
        transition: 4s;
        &.active{
            opacity: 1;
        }
    }
}
@keyframes anime-image{
    0%{
        transform: translate(0px,0px) scale(1.3);
    }
    12%{
        transform: translate(20px,10px) scale(1.3);
    }
    24%{
        transform: translate(40px,5px) scale(1.3);
    }
    36%{
        transform: translate(20px,-5px) scale(1.3);
    }
    48%{
        transform: translate(0px,-20px) scale(1.3);
    }
    60%{
        transform: translate(-20px,-10px) scale(1.3);
    }
    72%{
        transform: translate(-40px,0) scale(1.3);
    }
    84%{
        transform: translate(-20px,-20px) scale(1.3);
    }
    100%{
        transform: translate(0px,0px) scale(1.3);
    }
}