@import "../global/param.scss";
@import "../global/mixin.scss";

.sectionFaq{
    padding: 60px $paddingPage;
    background-color: #f6f6f6;
    & > h2{
        text-align: center;
        margin-bottom: 70px;
        font-size: 2em;
        color: $mainColor;
    }
    .faq{
        margin: 20px 0;
        background-color: #d7d6d636;
        padding: 10px;
        border-radius: 10px;
        .faq-header{
            display: grid;
            grid-template-columns: 5fr 0.5fr;
            gap: 20px;
            border-bottom: solid 2px #d7d6d6;
            padding-bottom: 10px;
            .faq-header-texte{
                display: flex;
                align-items: center;
            }
            .faq-header-btn-content{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                button{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    @include resetBtn;
                    background: $mainColor;
                    border-radius: 50%;
                    color: #fff;
                    font-size: 23px;
                    transition: .5s;
                    &.active{
                        transform: rotate(360deg);
                    }
                    .faq-icn{
                        opacity: 0;
                        position: absolute;
                        transition: 0.3s;
                        &.active{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .faq-body{
            height: 0;
            overflow: hidden;
            transition: .5s;
            &.active{
                height: auto;
                overflow: visible;
                margin-top: 15px;
            }
            p{
                color: #555;
                line-height: 30px;
                opacity: 0;
                transition: .8s;
            }
            &.active p{
                opacity: 1;
            }
        }
    }
}