@import "../global/param.scss";
@import "../global/mixin.scss";

.sectionAttentes{
    padding: 40px $paddingPage;
    margin: 30px 0;
    .section-content-text{
        @include h2($pw : 600px,$align : center);
    }
    .att-section-card{
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        margin-top: 60px;
        .att-card-item{
            padding: 30px 20px;
            border-radius: 20px;
            width: 100%;
            max-width: 380px;
            box-shadow: 0 0 8px 4px rgba(73, 73, 73, 0.151);
            h3{
                color: $mainColor;
                text-align: center;
                margin-bottom: 20px;
            }
            p{
                text-align: center;
                line-height: 25px;
                color: #555;
            }
        }
    }
}