@import '../global/param.scss';
@import '../global/mixin.scss';
.section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 0 $paddingPage;
    margin: 100px 0;
    &.reverse .section-content-text{
        grid-column: 1; 
        grid-row: 1;
    }
    .section-image{
        height: 380px;
        position: relative;
        border-radius: 4px;
        background-size: cover;
        background-position: center;
    }
    .section-content-text{
        @include h2;     
    }
}